button{
    position: fixed;
    top: 0; 
    right: 0;
    size: 120px;
}

head{
    color: #000;
}
body{
    background-color: #E67F0D;
}
.form{
    align-items: center;
    justify-content: center;
}
.innstillinger{
    size: 100px;
}
